body {
  background-color: #dfff9a;
  width: 100%;
  margin: 0px;
}

@font-face { 
  font-family: Superscript; 
  src: url("fonts/superscript/SUPERSCR.TTF") format("truetype"); 
} 

.container {
  width: 100%;
}

.resize {
  max-width: 640px;
  max-height: 560px;
  image-rendering: pixelated;
}

.image-parent {
  display:flex;
  width: 100%;
  align-items: center;
}

.button-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.center-element {
  justify-content: center;
}

.space-above-2 {
  margin-top: 2rem;
}

.space-above-4 {
  margin-top: 4rem;
}

.image-element {
  border: 20px solid white;
  object-fit: cover;
  width: 100%;
  height: auto;
  margin: 5%;
}

.button-shape {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-width: 5px;
  background-color: #EFEFEF;
  width: 13rem;
  font-family: Superscript, sans-serif;
}

.gameboy-picture {
  border: 10px solid white;
  width: 80%;
  margin: 1rem;
}

.gallery {
  display:flex;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.hide-element {
  display: none;
}

.parent-title {
  background-color: #EFEFEF;
}

.title-element {
  margin: 0;
  justify-content: center;
  display: flex;
  border: 20px solid white;
  background: white;
  text-align: center;
}

.copy-parent {
  margin: 2rem;
}

.copy-element {
  margin: auto;
  padding: 2rem;
  max-width: 800px;
  background-color: #EFEFEF;
  border: 0.4rem inset #EFEFEF;
  border-color: #858585 #767676;
  text-align: center;
}

.copy-font {
  font-family: Ubuntu, sans-serif;
}

.title-font {
  font-family: Superscript, sans-serif;
}
